{
    "printWidth": 80,
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "proseWrap": "never",
    "useEditorConfig": false,
    "singleAttributePerLine": true,
    "disableLanguages": [
        "html"
    ]
}